n8n/workflows/feedback-recorder.json
{
  "id": "iBzjnDJ7KRb93EOF",
  "name": "feedback-recorder",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "feedback",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook-feedback",
      "name": "\ud3c9\uac00 \uc785\ub825 \uc218\uc2e0",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        200,
        300
      ],
      "webhookId": "feedback-webhook"
    },
    {
      "parameters": {
        "jsCode": "// GROWTH-3: delta \ud398\uc5b4\ub9c1 \ud3ec\ud568 \uac80\uc99d\n// score: 1(\ub098\uc068) | 2(\ubcf4\ud1b5) | 3(\uc88b\uc74c)\n// rationale: \uadfc\uac70 (\ud544\uc218, \ube48 \uac12 \uac70\ubd80)\n// decision_ref: \ud3c9\uac00 \ub300\uc0c1 \uacb0\uc815 ID\n// actor: \ud3c9\uac00 \ub300\uc0c1 RA \uc5d0\uc774\uc804\ud2b8 ID\n// agent_judgment: \uc6d0\ub798 RA \uacb0\uacfc JSON (\uc120\ud0dd \u2014 \uc788\uc73c\uba74 delta \uacc4\uc0b0)\n// human_correction: \uc778\uac04\uc774 \uc815\uc815\ud55c \ub0b4\uc6a9 (\uc120\ud0dd)\n//   { match, transition_proposed, comment } \u2014 \uc218\uc815\ub41c \ud56d\ubaa9\ub9cc \ud3ec\ud568\n// dimensions: \ucc28\uc6d0\ubcc4 \ud3c9\uac00 (\uc120\ud0dd)\n//   { match_correct: bool, reasoning_quality: 1-3, citation_valid: bool }\nconst raw = $json;\nconst input = raw.body || raw;\n\nconst score = parseInt(input.score);\nif (![1, 2, 3].includes(score)) {\n  throw new Error('score must be 1, 2, or 3. Got: ' + JSON.stringify(input.score));\n}\n\nconst validActors = ['ra_us', 'ra_eu', 'ra_kr', 'op_manager', 'n8n_manager', 'infra_t3610', 'infra_gx10', 'infra_rpi'];\nif (!validActors.includes(input.actor)) {\n  throw new Error('Unknown actor: ' + input.actor);\n}\n\n// rationale \ud544\uc218\ud654: \ube48 \uac12\uc740 'ungrounded' \ud0dc\uadf8 \ubd80\uc5ec\nconst rationale = (input.rationale || '').trim().slice(0, 500);\nconst rationaleTagged = rationale.length === 0 ? '[ungrounded]' : rationale;\n\n// dimensions \uac80\uc99d\nlet dimensions = null;\nif (input.dimensions) {\n  const d = input.dimensions;\n  const rq = parseInt(d.reasoning_quality);\n  if (d.match_correct !== undefined && typeof d.match_correct !== 'boolean') {\n    throw new Error('dimensions.match_correct must be boolean');\n  }\n  if (d.reasoning_quality !== undefined && ![1, 2, 3].includes(rq)) {\n    throw new Error('dimensions.reasoning_quality must be 1, 2, or 3');\n  }\n  dimensions = {\n    match_correct: typeof d.match_correct === 'boolean' ? d.match_correct : null,\n    reasoning_quality: d.reasoning_quality !== undefined ? rq : null,\n    citation_valid: typeof d.citation_valid === 'boolean' ? d.citation_valid : null\n  };\n}\n\n// delta \uacc4\uc0b0: agent_judgment\uc640 human_correction \ube44\uad50\nlet delta = null;\nconst aj = input.agent_judgment || null;\nconst hc = input.human_correction || null;\nif (aj && hc) {\n  const changed = {};\n  if (hc.match !== undefined && hc.match !== aj.match) {\n    changed.match = { agent: aj.match, human: hc.match };\n  }\n  if (hc.transition_proposed !== undefined && hc.transition_proposed !== aj.transition_proposed) {\n    changed.transition = { agent: aj.transition_proposed, human: hc.transition_proposed };\n  }\n  if (hc.comment !== undefined) {\n    changed.comment = { agent: (aj.comment || '').slice(0, 100), human: hc.comment.slice(0, 100) };\n  }\n  if (Object.keys(changed).length > 0) {\n    delta = { changed, self_correction: true };\n  } else {\n    delta = { changed: {}, self_correction: false };\n  }\n}\n\nreturn [{\n  json: {\n    score,\n    rationale: rationaleTagged,\n    rationale_ungrounded: rationale.length === 0,\n    decision_ref: input.decision_ref || null,\n    actor: input.actor,\n    agent_judgment: aj,\n    human_correction: hc,\n    delta,\n    dimensions,\n    evaluated_by: 'human',\n    evaluated_at: new Date().toISOString()\n  }\n}];"
      },
      "id": "validate-feedback",
      "name": "\ud3c9\uac00 \uc785\ub825 \uac80\uc99d",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.HONCHO_API_URL }}/v3/workspaces/{{ $env.HONCHO_WORK_WORKSPACE }}/sessions",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ id: $now.toFormat('yyyyMMddHHmmssSSS') + '-feedback-' + $json.actor, peers: Object.fromEntries([[$json.actor, {}], ['human', {}]]), metadata: { type: 'feedback_session', target_actor: $json.actor } }) }}"
      },
      "id": "honcho-session-feedback",
      "name": "Honcho \uc138\uc158 \uc0dd\uc131 (AI peer)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        660,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.HONCHO_API_URL }}/v3/workspaces/{{ $env.HONCHO_WORK_WORKSPACE }}/sessions/{{ $json.id }}/messages",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ messages: [{ content: JSON.stringify({ ts: $node['\ud3c9\uac00 \uc785\ub825 \uac80\uc99d'].json.evaluated_at, type: 'score_given', actor: 'human', payload: { score: $node['\ud3c9\uac00 \uc785\ub825 \uac80\uc99d'].json.score, rationale: $node['\ud3c9\uac00 \uc785\ub825 \uac80\uc99d'].json.rationale, rationale_ungrounded: $node['\ud3c9\uac00 \uc785\ub825 \uac80\uc99d'].json.rationale_ungrounded, decision_ref: $node['\ud3c9\uac00 \uc785\ub825 \uac80\uc99d'].json.decision_ref, target_actor: $node['\ud3c9\uac00 \uc785\ub825 \uac80\uc99d'].json.actor, agent_judgment: $node['\ud3c9\uac00 \uc785\ub825 \uac80\uc99d'].json.agent_judgment, human_correction: $node['\ud3c9\uac00 \uc785\ub825 \uac80\uc99d'].json.human_correction, delta: $node['\ud3c9\uac00 \uc785\ub825 \uac80\uc99d'].json.delta, dimensions: $node['\ud3c9\uac00 \uc785\ub825 \uac80\uc99d'].json.dimensions } }), peer_id: 'human', metadata: { type: 'activity_log', record_type: 'score_given', peer_target: 'ai', has_delta: $node['\ud3c9\uac00 \uc785\ub825 \uac80\uc99d'].json.delta !== null && $node['\ud3c9\uac00 \uc785\ub825 \uac80\uc99d'].json.delta.self_correction === true, has_dimensions: $node['\ud3c9\uac00 \uc785\ub825 \uac80\uc99d'].json.dimensions !== null } }] }) }}"
      },
      "id": "honcho-record-feedback",
      "name": "Honcho AI peer \ud3c9\uac00 \uae30\ub85d",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        880,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// \uac00\uc911\uce58 \ubc18\uc601 \uc5f0\uacb0 \uc790\ub9ac [IF]\n// \ud3c9\uac00\ub41c \uc0ac\uc548 \uc601\uc5ed\ubcc4 \uac00\uc911\uce58 \uc870\uc815 \uc5f0\uacb0\uc810\n// \uc870\uc815 \uacf5\uc2dd\uc740 \ube44\uc6cc\ub460 \u2014 \ud559\uc2b5\uc774 \uc815\ud568\n// WEIGHT_ADJUSTMENT_CONFIG_JSON \ub610\ub294 payload.weight_config_json\uc5d0\uc11c \uc77d\uc74c\nconst env = (typeof process !== 'undefined' && process.env) ? process.env : {};\nconst feedback = $node['\ud3c9\uac00 \uc785\ub825 \uac80\uc99d'].json;\n\nlet config = {};\nlet configStatus = 'empty';\nconst configRaw = env.WEIGHT_ADJUSTMENT_CONFIG_JSON || feedback.weight_config_json || null;\nif (configRaw) {\n  try {\n    config = typeof configRaw === 'string' ? JSON.parse(configRaw) : configRaw;\n    configStatus = 'loaded';\n  } catch (e) {\n    config = {};\n    configStatus = 'parse_error:' + e.message;\n  }\n}\n\nconst configMeta = {\n  source: configRaw ? 'env_or_payload' : 'empty_default',\n  status: configStatus,\n  has_formula: Boolean(config.adjustment_formula)\n};\n\n// \uc870\uc815 \uacf5\uc2dd\uc774 \ube44\uc5b4 \uc788\uc73c\uba74 \uae30\ub85d\ub9cc \ud558\uace0 \ud328\uc2a4\nif (!config.adjustment_formula) {\n  return [{\n    json: {\n      _weight_adjustment: 'skipped_formula_empty',\n      _weight_adjustment_config: configMeta,\n      feedback_recorded: true,\n      score: feedback.score,\n      actor: feedback.actor,\n      has_delta: feedback.delta !== null,\n      self_correction: feedback.delta ? feedback.delta.self_correction : false\n    }\n  }];\n}\n\n// \uacf5\uc2dd\uc774 \ucc44\uc6cc\uc9c0\uba74 \uc5ec\uae30\uc11c \uac00\uc911\uce58 \uc870\uc815 \ub85c\uc9c1 \uc2e4\ud589 (\uc6b4\uc601\u00b7\ud559\uc2b5\uc774 \ucc44\uc6c0)\n// \ud604\uc7ac\ub294 interface\ub9cc \uc874\uc7ac \u2014 \ub0b4\ubd80 \uad6c\ud604 \uc5c6\uc74c\nreturn [{\n  json: {\n    _weight_adjustment: 'formula_not_implemented',\n    _weight_adjustment_config: configMeta,\n    feedback_recorded: true,\n    score: feedback.score,\n    actor: feedback.actor\n  }\n}];"
      },
      "id": "weight-adjustment-slot",
      "name": "\uac00\uc911\uce58 \uc870\uc815 \uc790\ub9ac [IF]",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        300
      ]
    }
  ],
  "connections": {
    "\ud3c9\uac00 \uc785\ub825 \uc218\uc2e0": {
      "main": [
        [
          {
            "node": "\ud3c9\uac00 \uc785\ub825 \uac80\uc99d",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\ud3c9\uac00 \uc785\ub825 \uac80\uc99d": {
      "main": [
        [
          {
            "node": "Honcho \uc138\uc158 \uc0dd\uc131 (AI peer)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Honcho \uc138\uc158 \uc0dd\uc131 (AI peer)": {
      "main": [
        [
          {
            "node": "Honcho AI peer \ud3c9\uac00 \uae30\ub85d",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Honcho AI peer \ud3c9\uac00 \uae30\ub85d": {
      "main": [
        [
          {
            "node": "\uac00\uc911\uce58 \uc870\uc815 \uc790\ub9ac [IF]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": true,
  "staticData": null,
  "pinData": {},
  "versionId": "2"
}