n8n/workflows/feedback-recorder.json
{
  "name": "feedback-recorder",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "feedback",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook-feedback",
      "name": "평가 입력 수신",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300],
      "webhookId": "feedback-webhook"
    },
    {
      "parameters": {
        "jsCode": "// 3점 평가 입력 검증\n// score: 1(나쁨) | 2(보통) | 3(좋음)\n// rationale: 근거 한 줄\n// decision_ref: 평가 대상 결정 ID\n// actor: 평가 대상 RA 에이전트 ID\nconst input = $input.item.json;\n\nconst score = parseInt(input.score);\nif (![1, 2, 3].includes(score)) {\n  throw new Error('score must be 1, 2, or 3. Got: ' + input.score);\n}\n\nconst validActors = ['ra_us', 'ra_eu', 'ra_kr', 'op_manager', 'n8n_manager', 'infra_t3610', 'infra_gx10', 'infra_rpi'];\nif (!validActors.includes(input.actor)) {\n  throw new Error('Unknown actor: ' + input.actor);\n}\n\nreturn [{\n  json: {\n    score,\n    rationale: (input.rationale || '').slice(0, 200),\n    decision_ref: input.decision_ref || null,\n    actor: input.actor,\n    evaluated_by: 'human',\n    evaluated_at: new Date().toISOString()\n  }\n}];"
      },
      "id": "validate-feedback",
      "name": "평가 입력 검증",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.HONCHO_API_URL }}/v1/apps/{{ $env.HONCHO_APP_NAME }}/users/{{ $json.actor }}/sessions",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "metadata", "value": "={{ JSON.stringify({ type: 'feedback_session', target_actor: $json.actor }) }}" }
          ]
        }
      },
      "id": "honcho-session-feedback",
      "name": "Honcho 세션 생성 (AI peer)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [660, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.HONCHO_API_URL }}/v1/apps/{{ $env.HONCHO_APP_NAME }}/users/{{ $node['평가 입력 검증'].json.actor }}/sessions/{{ $json.id }}/messages",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "=",
              "value": "={{ JSON.stringify({\n  is_user: true,\n  content: JSON.stringify({\n    ts: $node['평가 입력 검증'].json.evaluated_at,\n    type: 'score_given',\n    actor: 'human',\n    payload: {\n      score: $node['평가 입력 검증'].json.score,\n      rationale: $node['평가 입력 검증'].json.rationale,\n      decision_ref: $node['평가 입력 검증'].json.decision_ref,\n      target_actor: $node['평가 입력 검증'].json.actor\n    }\n  }),\n  metadata: {\n    type: 'activity_log',\n    record_type: 'score_given',\n    peer_target: 'ai'\n  }\n}) }}"
            }
          ]
        }
      },
      "id": "honcho-record-feedback",
      "name": "Honcho AI peer 평가 기록",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [880, 300]
    },
    {
      "parameters": {
        "jsCode": "// 가중치 반영 연결 자리 [IF]\n// 평가된 사안 영역별 가중치 조정 연결점\n// 조정 공식은 비워둠 — 학습이 정함\n// weight-adjustment-config.json에서 읽음\nconst fs = require('fs');\nlet config = {};\ntry {\n  config = JSON.parse(fs.readFileSync('/data/feedback/weight-adjustment-config.json', 'utf8'));\n} catch {\n  config = { adjustment_formula: null, neutral_on_no_score: true };\n}\n\nconst feedback = $node['평가 입력 검증'].json;\n\n// 조정 공식이 비어 있으면 기록만 하고 패스\nif (!config.adjustment_formula) {\n  return [{\n    json: {\n      _weight_adjustment: 'skipped_formula_empty',\n      feedback_recorded: true,\n      score: feedback.score,\n      actor: feedback.actor\n    }\n  }];\n}\n\n// 공식이 채워지면 여기서 가중치 조정 로직 실행 (운영·학습이 채움)\n// 현재는 interface만 존재 — 내부 구현 없음\nreturn [{\n  json: {\n    _weight_adjustment: 'formula_not_implemented',\n    feedback_recorded: true,\n    score: feedback.score,\n    actor: feedback.actor\n  }\n}];"
      },
      "id": "weight-adjustment-slot",
      "name": "가중치 조정 자리 [IF]",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 300]
    }
  ],
  "connections": {
    "평가 입력 수신": {
      "main": [[{ "node": "평가 입력 검증", "type": "main", "index": 0 }]]
    },
    "평가 입력 검증": {
      "main": [[{ "node": "Honcho 세션 생성 (AI peer)", "type": "main", "index": 0 }]]
    },
    "Honcho 세션 생성 (AI peer)": {
      "main": [[{ "node": "Honcho AI peer 평가 기록", "type": "main", "index": 0 }]]
    },
    "Honcho AI peer 평가 기록": {
      "main": [[{ "node": "가중치 조정 자리 [IF]", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "versionId": "1"
}
