n8n/workflows/mail-triage.json
{
  "id": "4B9bDkXgH0HFjP7o",
  "name": "mail-triage",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {
          "labelIds": [
            "INBOX"
          ],
          "q": "is:unread"
        },
        "options": {}
      },
      "id": "gmail-trigger",
      "name": "Gmail 수신 트리거",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1,
      "credentials": {
        "gmailOAuth2": {
          "id": "g84TMmDST8pNER2l",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 재전송 본문 파싱: 원 제목·원 발신자·사안 식별자 추출\n// 재전송으로 헤더(threadId/References) 파괴됨 → 본문 기반 매칭이 주력\n// webhook typeVersion 2: data in .body; Gmail: direct json\nconst rawJson = $input.item.json;\nconst inputData = rawJson.body || rawJson;\nconst body = inputData.text || inputData.snippet || '';\nconst subject = inputData.subject || '';\nconst emailId = inputData.id || inputData.messageId || ('test-' + Date.now());\nconst receivedAt = inputData.date || new Date().toISOString();\n\n// 원 제목 추출 (Fwd: / FW: 제거, 인용 헤더에서 Subject: 추출)\nconst fwdClean = subject.replace(/^(Fwd?:\\s*)+/i, '').trim();\nconst quotedSubject = body.match(/^Subject:\\s*(.+)$/mi)?.[1]?.trim();\nconst originalSubject = quotedSubject || fwdClean;\n\n// 원 발신자 추출 (인용 헤더 From: 패턴)\nconst originalFrom = body.match(/^From:\\s*(.+)$/mi)?.[1]?.trim() || '';\n\n// 사안 식별자 추출 (WP-번호, 접수번호 패턴)\nconst wpRef = body.match(/\\bWP-\\d+\\b/)?.[0] || null;\nconst caseRef = body.match(/\\b(접수|사안|case)[-_\\s]?\\d+\\b/i)?.[0] || null;\n\n// 규제기관 판별\nconst regions = [\n  { keywords: ['FDA', '510(k)', '510k', 'De Novo', 'CDRH', 'QMSR', '21 CFR'], region: 'US', actor: 'ra_us' },\n  { keywords: ['MDR', 'CE mark', 'IVDR', 'Notified Body', 'EUDAMED', 'CER', '2017/745'], region: 'EU', actor: 'ra_eu' },\n  { keywords: ['MFDS', 'KGMP', '식품의약품안전처', '의료기기', 'KFDA', '허가', '신고'], region: 'KR', actor: 'ra_kr' }\n];\n\nconst searchText = (originalSubject + ' ' + body).toLowerCase();\nlet matched = [];\nfor (const r of regions) {\n  if (r.keywords.some(k => searchText.includes(k.toLowerCase()))) {\n    matched.push(r);\n  }\n}\n\nconst matchingKey = [\n  originalSubject.toLowerCase().replace(/\\s+/g, '_').replace(/[^a-z0-9_가-힣]/g, '').slice(0, 60),\n  originalFrom.split('@')[0]?.replace(/[^a-z0-9가-힣]/g, '') || '',\n  wpRef || caseRef || ''\n].filter(Boolean).join('|');\n\nreturn [{\n  json: {\n    raw_subject: subject,\n    original_subject: originalSubject,\n    original_from: originalFrom,\n    wp_ref: wpRef,\n    case_ref: caseRef,\n    matching_key: matchingKey,\n    body_excerpt: body.slice(0, 500),\n    matched_regions: matched,\n    routing_status: matched.length === 1 ? 'green' : matched.length === 0 ? 'yellow_no_region' : 'yellow_multi_region',\n    primary_actor: matched.length === 1 ? matched[0].actor : null,\n    primary_region: matched.length === 1 ? matched[0].region : null,\n    email_id: $input.item.json.id,\n    received_at: new Date().toISOString()\n  }\n}];"
      },
      "id": "parse-body",
      "name": "본문 파싱 및 규제권 라우팅",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false
          },
          "conditions": [
            {
              "id": "cond-yellow",
              "leftValue": "={{ $json.routing_status }}",
              "rightValue": "green",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ]
        }
      },
      "id": "gate-routing",
      "name": "라우팅 게이트",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.HERMES_API_URL }}/v1/chat/completions",
        "authentication": "none",
        "genericAuthType": "httpHeaderAuth",
        "options": {},
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer 10cc6bbfde9f63f77dfa3e1ca34ae745b13fd0e2f06bd93b314aafd8227848f7"
            }
          ]
        },
        "sendBody": true,
        "specifyHeaders": "keypair",
        "specifyBody": "json",
        "contentType": "json",
        "jsonBody": "={{ JSON.stringify({\n  model: $json.primary_actor,\n  messages: [{\n    role: 'user',\n    content: [\n      'You are processing a forwarded regulatory affairs email.',\n      'Original subject: ' + $json.original_subject,\n      'Original from: ' + $json.original_from,\n      'Matching key: ' + $json.matching_key,\n      'Body excerpt: ' + $json.body_excerpt,\n      $json.warm_start_context || '',\n      '',\n      'Analyze this case and return ONLY a JSON object with these fields:',\n      '  actor: which RA agent handles this (ra_us, ra_eu, or ra_kr based on region)',\n      '  wp: work package ID if matched (e.g. WP-123), or null if new',\n      '  match: \\\"existing\\\" if wp found, \\\"new\\\" if not',\n      '  confidence: 0.0-1.0 confidence score',\n      '  region: primary region (US, EU, KR)',\n      '  comment: brief analysis comment',\n      '  transition_proposed: status transition if any, or null',\n      '',\n      'Return ONLY the JSON object, no other text.'\n    ].join('\\\\n')\n  }]\n}) }}"
      },
      "id": "call-ra-agent",
      "name": "RA 에이전트 호출",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "credentials": {}
    },
    {
      "parameters": {
        "jsCode": "// RA 분석 결과 JSON 파싱 및 검증\n// Hermes format: { wp_comment: { wp_title, summary, confidence, matched_wp_id, ... } }\n// Flat format: { actor, wp, match, confidence, region, comment, transition_proposed }\nconst raw = $input.item.json;\nlet analysis;\ntry {\n  const content = raw.choices?.[0]?.message?.content || raw.content || '{}';\n  // Extract JSON block (model may wrap in markdown)\n  const jsonMatch = content.match(/```json\\s*([\\s\\S]+?)\\s*```/) || content.match(/({[\\s\\S]+})/s);\n  const parsed = JSON.parse(jsonMatch ? jsonMatch[1] : content.trim());\n\n  // Handle Hermes format (wp_comment structure)\n  if (parsed.wp_comment) {\n    const wpc = parsed.wp_comment;\n    const routing = $('본문 파싱 및 규제권 라우팅').first().json;\n    analysis = {\n      actor: routing.primary_actor || 'ra_us',\n      wp: wpc.matched_wp_id ? String(wpc.matched_wp_id) : null,\n      match: wpc.matched_wp_id ? 'existing' : 'new',\n      confidence: typeof wpc.confidence === 'number' ? wpc.confidence : 0.5,\n      region: routing.primary_region || 'US',\n      comment: [wpc.summary, wpc.recommendation].filter(Boolean).join(' | '),\n      transition_proposed: null\n    };\n  } else {\n    analysis = parsed;\n  }\n} catch (e) {\n  return [{ json: { parse_error: true, missing_fields: [], analysis: {}, _error: e.message } }];\n}\n\n// Validate required fields\nconst required = ['actor', 'match', 'confidence', 'region', 'comment'];\nconst missing = required.filter(k => !analysis[k] && analysis[k] !== 0);\nif (missing.length > 0) {\n  return [{ json: { parse_error: true, missing_fields: missing, analysis } }];\n}\n\nreturn [{ json: { parse_error: false, ...analysis } }];"
      },
      "id": "parse-ra-response",
      "name": "RA 응답 파싱",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "cond-parse-ok",
              "leftValue": "={{ $json.parse_error }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "gate-parse",
      "name": "파싱 성공 게이트",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "cond-existing",
              "leftValue": "={{ $json.match }}",
              "rightValue": "existing",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "gate-match",
      "name": "신규 vs 기존 WP 분기",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://plm.abyz-lab.work/api/v3/work_packages/{{ ($json.wp || '').toString().replace('WP-', '') }}/activities",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={{ JSON.stringify({ comment: { format: 'plain', raw: '[' + $json.actor.toUpperCase() + '] ' + $json.comment } }) }}",
        "options": {
          "timeout": 10000
        },
        "specifyBody": "json"
      },
      "id": "op-add-comment",
      "name": "WP 코멘트 추가",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "credentials": {
        "httpBasicAuth": {
          "id": "S1K0DNp5LZmzpu4j",
          "name": "OP Admin Auth"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://plm.abyz-lab.work/api/v3/projects/{{ $env.OPENPROJECT_DEFAULT_PROJECT_ID }}/work_packages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={{ JSON.stringify({\n  subject: $json.region + ' RA: ' + $node['본문 파싱 및 규제권 라우팅'].json.original_subject,\n  description: {\n    format: 'plain',\n    raw: '자동 생성 — mail-triage\\n\\n분석 담당: ' + $json.actor + '\\n신뢰도: ' + Math.round($json.confidence*100) + '%\\n\\n' + $json.comment\n  },\n  _type: 'WorkPackage'\n}) }}",
        "options": {
          "timeout": 10000
        },
        "specifyBody": "json"
      },
      "id": "op-create-wp",
      "name": "신규 WP 생성",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "credentials": {
        "httpBasicAuth": {
          "id": "S1K0DNp5LZmzpu4j",
          "name": "OP Admin Auth"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "cond-transition",
              "leftValue": "={{ $json.transition_proposed }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ]
        }
      },
      "id": "gate-transition",
      "name": "전이 제안 게이트",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://plm.abyz-lab.work/api/v3/work_packages/{{  ($json.wp || $node['신규 WP 생성'].json.id || '').toString().replace('WP-', '')  }}/activities",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={\"comment\":{\"format\":\"plain\",\"raw\":\"={{ '[\\uc804\\uc774 \\uc81c\\uc548 \\u2014 \\uc0ac\\ub78c \\uc2b9\\uc778 \\ud544\\uc694] ' + $json.actor + ' \\u2192 ' + $json.transition_proposed + '\\\\n\\uadfc\\uac70: ' + $json.comment }}\"}}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "op-transition-comment",
      "name": "전이 제안 코멘트 (Yellow)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "credentials": {
        "httpBasicAuth": {
          "id": "S1K0DNp5LZmzpu4j",
          "name": "OP Admin Auth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Honcho conclusion 기록: 사안↔WP 매핑\n// 활동 기록 계약 형식 (고정)\nconst analysis = $('RA 응답 파싱').first().json;\nconst parsed = $node['본문 파싱 및 규제권 라우팅'].json;\n\nconst activityRecord = {\n  ts: new Date().toISOString(),\n  type: analysis.match === 'existing' ? 'matched' : 'matched',\n  actor: analysis.actor,\n  payload: {\n    wp: analysis.wp,\n    match: analysis.match,\n    confidence: analysis.confidence,\n    region: analysis.region,\n    matching_key: parsed.matching_key,\n    original_subject: parsed.original_subject,\n    email_id: parsed.email_id\n  }\n};\n\nconst mailRecord = {\n  ts: parsed.received_at,\n  type: 'mail_received',\n  actor: 'system',\n  payload: {\n    region: analysis.region,\n    subject: parsed.original_subject,\n    email_id: parsed.email_id,\n    target: analysis.actor\n  }\n};\n\nreturn [{ json: { activity_record: activityRecord, mail_record: mailRecord, analysis } }];"
      },
      "id": "prepare-honcho",
      "name": "Honcho 기록 준비",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.HONCHO_API_URL }}/v3/workspaces/{{ $env.HONCHO_WORK_WORKSPACE }}/sessions",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ id: $now.toFormat(\"yyyyMMddHHmmssSSS\") + \"-\" + $json.analysis.actor, peers: { [$json.analysis.actor]: {} }, metadata: { type: \"mail_triage_session\", actor: $json.analysis.actor } }) }}"
      },
      "id": "honcho-create-session",
      "name": "Honcho 세션 생성",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.HONCHO_API_URL }}/v3/workspaces/{{ $env.HONCHO_WORK_WORKSPACE }}/sessions/{{ $json.id }}/messages",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ messages: [{ content: JSON.stringify($node['Honcho 기록 준비'].json.activity_record), peer_id: $node['Honcho 기록 준비'].json.analysis.actor, metadata: { type: 'activity_log', record_type: 'matched' } }] }) }}"
      },
      "id": "honcho-record",
      "name": "Honcho conclusion 기록",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4
    },
    {
      "parameters": {
        "jsCode": "// Yellow 게이트: 규제권 미판별 또는 다중 판별\n// 사람에게 알림 전송 (이메일 또는 OpenProject 코멘트)\nconst parsed = $input.item.json;\nconst reason = parsed.routing_status === 'yellow_no_region'\n  ? '규제기관 미판별 — 수동 배정 필요'\n  : '복수 규제권 감지(' + parsed.matched_regions.map(r => r.region).join(', ') + ') — 담당 지정 필요';\n\nreturn [{\n  json: {\n    alert_type: 'yellow_routing',\n    reason,\n    original_subject: parsed.original_subject,\n    original_from: parsed.original_from,\n    matching_key: parsed.matching_key,\n    body_excerpt: parsed.body_excerpt,\n    email_id: parsed.email_id\n  }\n}];"
      },
      "id": "yellow-gate",
      "name": "Yellow 게이트 (사람 질의)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "// Yellow alert — SMTP 미설정, 콘솔 로그로 대체\nconst routing = $('본문 파싱 및 규제권 라우팅').first().json;\nconsole.warn('[YELLOW ALERT] 라우팅 불명확:', JSON.stringify({\n  status: routing.routing_status,\n  subject: routing.original_subject,\n  regions: routing.matched_regions\n}));\nreturn [{ json: { _yellow_alert: true, ts: new Date().toISOString(), routing_status: routing.routing_status } }];"
      },
      "id": "yellow-notify",
      "name": "Yellow 알림 발송",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "webhookId": "9ac7ba78-7789-4bd2-b8ec-bb32eb3aa8a9"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mail-triage-test",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "test-webhook-trigger",
      "name": "테스트 Webhook 트리거",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "webhookId": "mail-triage-test-webhook"
    },
    {
      "id": "honcho-warmstart-ctx",
      "name": "Honcho 과거 컨텍스트 조회",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        0,
        0
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ $env.HONCHO_API_URL }}/v3/workspaces/work/peers/{{ $json.primary_actor }}/context",
        "authentication": "none",
        "options": {},
        "sendHeaders": false,
        "sendBody": false,
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "target",
              "value": "ai"
            },
            {
              "name": "search_query",
              "value": "={{ $json.original_subject + ' ' + ($json.matching_key || '') }}"
            },
            {
              "name": "search_top_k",
              "value": "5"
            },
            {
              "name": "max_conclusions",
              "value": "10"
            }
          ]
        }
      }
    },
    {
      "id": "warmstart-inject",
      "name": "컨텍스트 프롬프트 주입",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "parameters": {
        "jsCode": "// Merge Honcho AI peer context with routing data for warm-start\nconst routingData = $('라우팅 게이트').item.json;\nconst contextData = $input.item.json;\n\nconst peerRepresentation = contextData.representation || '';\n\nlet warmStartBlock = '';\nif (peerRepresentation && peerRepresentation.trim()) {\n  warmStartBlock = '\\n--- PAST EXPERIENCE (from memory) ---\\n' + peerRepresentation + '\\n--- END PAST EXPERIENCE ---';\n}\n\nreturn {\n  ...routingData,\n  warm_start_context: warmStartBlock,\n  has_past_context: warmStartBlock.length > 0\n};\n"
      }
    }
  ],
  "connections": {
    "Gmail 수신 트리거": {
      "main": [
        [
          {
            "node": "본문 파싱 및 규제권 라우팅",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "본문 파싱 및 규제권 라우팅": {
      "main": [
        [
          {
            "node": "라우팅 게이트",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "라우팅 게이트": {
      "main": [
        [
          {
            "node": "Yellow 게이트 (사람 질의)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Honcho 과거 컨텍스트 조회",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RA 에이전트 호출": {
      "main": [
        [
          {
            "node": "RA 응답 파싱",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RA 응답 파싱": {
      "main": [
        [
          {
            "node": "파싱 성공 게이트",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "파싱 성공 게이트": {
      "main": [
        [
          {
            "node": "Yellow 게이트 (사람 질의)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "신규 vs 기존 WP 분기",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "신규 vs 기존 WP 분기": {
      "main": [
        [
          {
            "node": "WP 코멘트 추가",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "신규 WP 생성",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WP 코멘트 추가": {
      "main": [
        [
          {
            "node": "전이 제안 게이트",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "신규 WP 생성": {
      "main": [
        [
          {
            "node": "전이 제안 게이트",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "전이 제안 게이트": {
      "main": [
        [
          {
            "node": "전이 제안 코멘트 (Yellow)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Honcho 기록 준비",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "전이 제안 코멘트 (Yellow)": {
      "main": [
        [
          {
            "node": "Honcho 기록 준비",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Honcho 기록 준비": {
      "main": [
        [
          {
            "node": "Honcho 세션 생성",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Honcho 세션 생성": {
      "main": [
        [
          {
            "node": "Honcho conclusion 기록",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Yellow 게이트 (사람 질의)": {
      "main": [
        [
          {
            "node": "Yellow 알림 발송",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "테스트 Webhook 트리거": {
      "main": [
        [
          {
            "node": "본문 파싱 및 규제권 라우팅",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Honcho 과거 컨텍스트 조회": {
      "main": [
        [
          {
            "node": "컨텍스트 프롬프트 주입",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "컨텍스트 프롬프트 주입": {
      "main": [
        [
          {
            "node": "RA 에이전트 호출",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": {
    "node:Gmail 수신 트리거": {
      "lastTimeChecked": 1780902214,
      "possibleDuplicates": [
        "19ea60b3cf597382"
      ]
    }
  },
  "pinData": null
}