n8n/workflows/mail-triage.json
[
  {
    "updatedAt": "2026-06-06T00:56:24.290Z",
    "createdAt": "2026-06-05T23:56:01.920Z",
    "id": "4B9bDkXgH0HFjP7o",
    "name": "mail-triage",
    "description": null,
    "active": false,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "pollTimes": {
            "item": [
              {
                "mode": "everyMinute"
              }
            ]
          },
          "filters": {
            "labelIds": [
              "INBOX"
            ],
            "q": "is:unread"
          },
          "options": {}
        },
        "id": "gmail-trigger",
        "name": "Gmail 수신 트리거",
        "type": "n8n-nodes-base.gmailTrigger",
        "typeVersion": 1,
        "position": [
          200,
          300
        ],
        "credentials": {
          "gmailOAuth2": {
            "id": "g84TMmDST8pNER2l",
            "name": "Gmail account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// 재전송 본문 파싱: 원 제목·원 발신자·사안 식별자 추출\n// 재전송으로 헤더(threadId/References) 파괴됨 → 본문 기반 매칭이 주력\nconst body = $input.item.json.text || $input.item.json.snippet || '';\nconst subject = $input.item.json.subject || '';\n\n// 원 제목 추출 (Fwd: / FW: 제거, 인용 헤더에서 Subject: 추출)\nconst fwdClean = subject.replace(/^(Fwd?:\\s*)+/i, '').trim();\nconst quotedSubject = body.match(/^Subject:\\s*(.+)$/mi)?.[1]?.trim();\nconst originalSubject = quotedSubject || fwdClean;\n\n// 원 발신자 추출 (인용 헤더 From: 패턴)\nconst originalFrom = body.match(/^From:\\s*(.+)$/mi)?.[1]?.trim() || '';\n\n// 사안 식별자 추출 (WP-번호, 접수번호 패턴)\nconst wpRef = body.match(/\\bWP-\\d+\\b/)?.[0] || null;\nconst caseRef = body.match(/\\b(접수|사안|case)[-_\\s]?\\d+\\b/i)?.[0] || null;\n\n// 규제기관 판별\nconst regions = [\n  { keywords: ['FDA', '510(k)', '510k', 'De Novo', 'CDRH', 'QMSR', '21 CFR'], region: 'US', actor: 'ra_us' },\n  { keywords: ['MDR', 'CE mark', 'IVDR', 'Notified Body', 'EUDAMED', 'CER', '2017/745'], region: 'EU', actor: 'ra_eu' },\n  { keywords: ['MFDS', 'KGMP', '식품의약품안전처', '의료기기', 'KFDA', '허가', '신고'], region: 'KR', actor: 'ra_kr' }\n];\n\nconst searchText = (originalSubject + ' ' + body).toLowerCase();\nlet matched = [];\nfor (const r of regions) {\n  if (r.keywords.some(k => searchText.includes(k.toLowerCase()))) {\n    matched.push(r);\n  }\n}\n\nconst matchingKey = [\n  originalSubject.toLowerCase().replace(/\\s+/g, '_').replace(/[^a-z0-9_가-힣]/g, '').slice(0, 60),\n  originalFrom.split('@')[0]?.replace(/[^a-z0-9가-힣]/g, '') || '',\n  wpRef || caseRef || ''\n].filter(Boolean).join('|');\n\nreturn [{\n  json: {\n    raw_subject: subject,\n    original_subject: originalSubject,\n    original_from: originalFrom,\n    wp_ref: wpRef,\n    case_ref: caseRef,\n    matching_key: matchingKey,\n    body_excerpt: body.slice(0, 500),\n    matched_regions: matched,\n    routing_status: matched.length === 1 ? 'green' : matched.length === 0 ? 'yellow_no_region' : 'yellow_multi_region',\n    primary_actor: matched.length === 1 ? matched[0].actor : null,\n    primary_region: matched.length === 1 ? matched[0].region : null,\n    email_id: $input.item.json.id,\n    received_at: new Date().toISOString()\n  }\n}];"
        },
        "id": "parse-body",
        "name": "본문 파싱 및 규제권 라우팅",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          440,
          300
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": false
            },
            "conditions": [
              {
                "id": "cond-yellow",
                "leftValue": "={{ $json.routing_status }}",
                "rightValue": "green",
                "operator": {
                  "type": "string",
                  "operation": "notEquals"
                }
              }
            ]
          }
        },
        "id": "gate-routing",
        "name": "라우팅 게이트",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          660,
          300
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $env.HERMES_API_URL }}/v1/chat/completions",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "options": {},
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "=",
                "value": "={{ JSON.stringify({\n  model: $json.primary_actor,\n  messages: [{\n    role: 'user',\n    content: [\n      'You are processing a forwarded regulatory affairs email.',\n      'Original subject: ' + $json.original_subject,\n      'Original from: ' + $json.original_from,\n      'Matching key: ' + $json.matching_key,\n      'Body excerpt: ' + $json.body_excerpt,\n      '',\n      'Analyze this case and return ONLY a JSON object with these fields:',\n      '{ \"actor\": \"' + $json.primary_actor + '\", \"wp\": \"WP-XXX or null\", \"match\": \"existing or new\", \"confidence\": 0.0-1.0, \"region\": \"' + $json.primary_region + '\", \"comment\": \"...\", \"transition_proposed\": \"status or null\" }',\n      '',\n      'For wp: use the WP reference if found in the email, or search your memory for matching cases.',\n      'For match: \"existing\" if this is a follow-up to a known case, \"new\" if this is a new matter.',\n      'For transition_proposed: only propose if the email content clearly signals a status change, otherwise null.',\n      'Return ONLY the JSON object, no other text.'\n    ].join('\\n')\n  }]\n}) }}"
              }
            ]
          }
        },
        "id": "call-ra-agent",
        "name": "RA 에이전트 호출",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          880,
          200
        ]
      },
      {
        "parameters": {
          "jsCode": "// RA 분석 결과 JSON 파싱 및 검증\n// 고정 계약: { actor, wp, match, confidence, region, comment, transition_proposed }\nconst raw = $input.item.json;\nlet analysis;\ntry {\n  const content = raw.choices?.[0]?.message?.content || raw.content || '{}';\n  // JSON 블록 추출 (모델이 마크다운으로 감쌀 수 있음)\n  const jsonMatch = content.match(/```json\\s*([\\s\\S]+?)\\s*```/) || content.match(/({[\\s\\S]+})/);\n  analysis = JSON.parse(jsonMatch ? jsonMatch[1] : content);\n} catch (e) {\n  return [{ json: { parse_error: true, raw_content: raw.choices?.[0]?.message?.content || '', error: e.message } }];\n}\n\n// 필수 필드 검증\nconst required = ['actor', 'match', 'confidence', 'region', 'comment'];\nconst missing = required.filter(f => analysis[f] === undefined);\nif (missing.length > 0) {\n  return [{ json: { parse_error: true, missing_fields: missing, analysis } }];\n}\n\nreturn [{ json: { ...analysis, parse_error: false } }];"
        },
        "id": "parse-ra-response",
        "name": "RA 응답 파싱",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1100,
          200
        ]
      },
      {
        "parameters": {
          "conditions": {
            "conditions": [
              {
                "id": "cond-parse-ok",
                "leftValue": "={{ $json.parse_error }}",
                "rightValue": false,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ]
          }
        },
        "id": "gate-parse",
        "name": "파싱 성공 게이트",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          1300,
          200
        ]
      },
      {
        "parameters": {
          "conditions": {
            "conditions": [
              {
                "id": "cond-existing",
                "leftValue": "={{ $json.match }}",
                "rightValue": "existing",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ]
          }
        },
        "id": "gate-match",
        "name": "신규 vs 기존 WP 분기",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          1520,
          200
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=http://172.18.0.1:8085/api/v3/work_packages/{{{{ $json.wp.replace('WP-', '') }}}}/activities",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpBasicAuth",
          "sendBody": true,
          "contentType": "json",
          "jsonBody": "={\"comment\":{\"format\":\"plain\",\"raw\":\"={{ '[' + $json.actor.toUpperCase() + '] ' + $json.comment + (($json.confidence < parseFloat($env.YELLOW_CONFIDENCE_THRESHOLD || '0.7')) ? ' \\u26a0\\ufe0f \\uc2e0\\ub8b0\\ub3c4 \\ub0ae\\uc74c(' + Math.round($json.confidence*100) + '%) \\u2014 \\uc0ac\\ub78c \\uac80\\ud1a0 \\uad8c\\uc7a5' : ' (\\uc2e0\\ub8b0\\ub3c4 ' + Math.round($json.confidence*100) + '%)') }}\"}}",
          "options": {
            "timeout": 10000
          }
        },
        "id": "op-add-comment",
        "name": "WP 코멘트 추가",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          1740,
          100
        ],
        "credentials": {
          "httpBasicAuth": {
            "id": "S1K0DNp5LZmzpu4j",
            "name": "OP Admin Auth"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=http://172.18.0.1:8085/api/v3/projects/{{{{ $env.OPENPROJECT_DEFAULT_PROJECT_ID }}}}/work_packages",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpBasicAuth",
          "sendBody": true,
          "contentType": "json",
          "jsonBody": "={\"subject\":\"={{ $json.region + ' RA: ' + $node['\\ubcf8\\ubb38 \\ud30c\\uc2f1 \\ubc0f \\uaddc\\uc81c\\uad8c \\ub77c\\uc6b0\\ud305'].json.original_subject }}\",\"description\":{\"format\":\"plain\",\"raw\":\"={{ '\\uc790\\ub3d9 \\uc0dd\\uc131 \\u2014 mail-triage\\\\n\\\\n\\ubd84\\uc11d \\ub2f4\\ub2f9: ' + $json.actor + '\\\\n\\uc2e0\\ub8b0\\ub3c4: ' + Math.round($json.confidence*100) + '%\\\\n\\\\n' + $json.comment }}\"}}",
          "options": {
            "timeout": 10000
          }
        },
        "id": "op-create-wp",
        "name": "신규 WP 생성",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          1740,
          300
        ],
        "credentials": {
          "httpBasicAuth": {
            "id": "S1K0DNp5LZmzpu4j",
            "name": "OP Admin Auth"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "conditions": [
              {
                "id": "cond-transition",
                "leftValue": "={{ $json.transition_proposed }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty"
                }
              }
            ]
          }
        },
        "id": "gate-transition",
        "name": "전이 제안 게이트",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          1960,
          200
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=http://172.18.0.1:8085/api/v3/work_packages/{{{{ ($json.wp || $node['신규 WP 생성'].json.id || '').toString().replace('WP-', '') }}}}/activities",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpBasicAuth",
          "sendBody": true,
          "contentType": "json",
          "jsonBody": "={\"comment\":{\"format\":\"plain\",\"raw\":\"={{ '[\\uc804\\uc774 \\uc81c\\uc548 \\u2014 \\uc0ac\\ub78c \\uc2b9\\uc778 \\ud544\\uc694] ' + $json.actor + ' \\u2192 ' + $json.transition_proposed + '\\\\n\\uadfc\\uac70: ' + $json.comment }}\"}}",
          "options": {
            "timeout": 10000
          }
        },
        "id": "op-transition-comment",
        "name": "전이 제안 코멘트 (Yellow)",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          2180,
          120
        ],
        "credentials": {
          "httpBasicAuth": {
            "id": "S1K0DNp5LZmzpu4j",
            "name": "OP Admin Auth"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Honcho conclusion 기록: 사안↔WP 매핑\n// 활동 기록 계약 형식 (고정)\nconst analysis = $json;\nconst parsed = $node['본문 파싱 및 규제권 라우팅'].json;\n\nconst activityRecord = {\n  ts: new Date().toISOString(),\n  type: analysis.match === 'existing' ? 'matched' : 'matched',\n  actor: analysis.actor,\n  payload: {\n    wp: analysis.wp,\n    match: analysis.match,\n    confidence: analysis.confidence,\n    region: analysis.region,\n    matching_key: parsed.matching_key,\n    original_subject: parsed.original_subject,\n    email_id: parsed.email_id\n  }\n};\n\nconst mailRecord = {\n  ts: parsed.received_at,\n  type: 'mail_received',\n  actor: 'system',\n  payload: {\n    region: analysis.region,\n    subject: parsed.original_subject,\n    email_id: parsed.email_id,\n    target: analysis.actor\n  }\n};\n\nreturn [{ json: { activity_record: activityRecord, mail_record: mailRecord, analysis } }];"
        },
        "id": "prepare-honcho",
        "name": "Honcho 기록 준비",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2180,
          320
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $env.HONCHO_API_URL }}/v3/workspaces/{{ $env.HONCHO_WORK_WORKSPACE }}/sessions",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ id: $now.toFormat(\"yyyyMMddHHmmssSSS\") + \"-\" + $json.analysis.actor, peers: { [$json.analysis.actor]: {} }, metadata: { type: \"mail_triage_session\", actor: $json.analysis.actor } }) }}"
        },
        "id": "honcho-create-session",
        "name": "Honcho 세션 생성",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          2400,
          320
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $env.HONCHO_API_URL }}/v3/workspaces/{{ $env.HONCHO_WORK_WORKSPACE }}/sessions/{{ $json.id }}/messages",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ messages: [{ content: JSON.stringify($node['Honcho 기록 준비'].json.activity_record), peer_id: $node['Honcho 기록 준비'].json.analysis.actor, metadata: { type: 'activity_log', record_type: 'matched' } }] }) }}"
        },
        "id": "honcho-record",
        "name": "Honcho conclusion 기록",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          2620,
          320
        ]
      },
      {
        "parameters": {
          "jsCode": "// Yellow 게이트: 규제권 미판별 또는 다중 판별\n// 사람에게 알림 전송 (이메일 또는 OpenProject 코멘트)\nconst parsed = $input.item.json;\nconst reason = parsed.routing_status === 'yellow_no_region'\n  ? '규제기관 미판별 — 수동 배정 필요'\n  : '복수 규제권 감지(' + parsed.matched_regions.map(r => r.region).join(', ') + ') — 담당 지정 필요';\n\nreturn [{\n  json: {\n    alert_type: 'yellow_routing',\n    reason,\n    original_subject: parsed.original_subject,\n    original_from: parsed.original_from,\n    matching_key: parsed.matching_key,\n    body_excerpt: parsed.body_excerpt,\n    email_id: parsed.email_id\n  }\n}];"
        },
        "id": "yellow-gate",
        "name": "Yellow 게이트 (사람 질의)",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          880,
          440
        ]
      },
      {
        "parameters": {
          "operation": "send",
          "toEmail": "={{ $env.HUMAN_ALERT_EMAIL }}",
          "subject": "=[RA-TRIAGE YELLOW] 수동 배정 필요: {{ $json.original_subject }}",
          "text": "={{ '사유: ' + $json.reason + '\\n\\n제목: ' + $json.original_subject + '\\n발신자: ' + $json.original_from + '\\n\\n본문 발췌:\\n' + $json.body_excerpt }}"
        },
        "id": "yellow-notify",
        "name": "Yellow 알림 발송",
        "type": "n8n-nodes-base.emailSend",
        "typeVersion": 2,
        "position": [
          1100,
          440
        ],
        "webhookId": "9ac7ba78-7789-4bd2-b8ec-bb32eb3aa8a9"
      }
    ],
    "connections": {
      "Gmail 수신 트리거": {
        "main": [
          [
            {
              "node": "본문 파싱 및 규제권 라우팅",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "본문 파싱 및 규제권 라우팅": {
        "main": [
          [
            {
              "node": "라우팅 게이트",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "라우팅 게이트": {
        "main": [
          [
            {
              "node": "Yellow 게이트 (사람 질의)",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "RA 에이전트 호출",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "RA 에이전트 호출": {
        "main": [
          [
            {
              "node": "RA 응답 파싱",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "RA 응답 파싱": {
        "main": [
          [
            {
              "node": "파싱 성공 게이트",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "파싱 성공 게이트": {
        "main": [
          [
            {
              "node": "Yellow 게이트 (사람 질의)",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "신규 vs 기존 WP 분기",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "신규 vs 기존 WP 분기": {
        "main": [
          [
            {
              "node": "WP 코멘트 추가",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "신규 WP 생성",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "WP 코멘트 추가": {
        "main": [
          [
            {
              "node": "전이 제안 게이트",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "신규 WP 생성": {
        "main": [
          [
            {
              "node": "전이 제안 게이트",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "전이 제안 게이트": {
        "main": [
          [
            {
              "node": "전이 제안 코멘트 (Yellow)",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Honcho 기록 준비",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "전이 제안 코멘트 (Yellow)": {
        "main": [
          [
            {
              "node": "Honcho 기록 준비",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Honcho 기록 준비": {
        "main": [
          [
            {
              "node": "Honcho 세션 생성",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Honcho 세션 생성": {
        "main": [
          [
            {
              "node": "Honcho conclusion 기록",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Yellow 게이트 (사람 질의)": {
        "main": [
          [
            {
              "node": "Yellow 알림 발송",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "saveManualExecutions": true,
      "callerPolicy": "workflowsFromSameOwner",
      "errorWorkflow": ""
    },
    "staticData": null,
    "meta": null,
    "pinData": null,
    "versionId": "22478c16-fb39-41e9-ac79-72a2feb005b3",
    "activeVersionId": null,
    "versionCounter": 4,
    "triggerCount": 0,
    "tags": [],
    "shared": [
      {
        "updatedAt": "2026-06-05T23:56:01.920Z",
        "createdAt": "2026-06-05T23:56:01.920Z",
        "role": "workflow:owner",
        "workflowId": "4B9bDkXgH0HFjP7o",
        "projectId": "CoQYehv2lt9m132F",
        "project": {
          "updatedAt": "2026-02-19T07:58:02.378Z",
          "createdAt": "2026-02-19T02:58:00.299Z",
          "id": "CoQYehv2lt9m132F",
          "name": "TAEHO LEE <drake.lee@abyzr.com>",
          "type": "personal",
          "icon": null,
          "description": null,
          "creatorId": "10697f8d-dd89-43f8-854f-e2b0750c1931"
        }
      }
    ],
    "versionMetadata": {
      "name": null,
      "description": null
    }
  }
]